{% extends "Libreria/index.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">    
  
  <div class="row">
    <div class="col">
      {% url 'agregar' as agregar_url %}
      {% url 'buscar' as buscar_url %}
      {% url 'libros' as libros_url %}
      {% url 'editorial' as editorial_url %}
      {% bootstrap_button "Agregar" button_class="btn-success" button_type="link" href=agregar_url %} 
      {% bootstrap_button "Buscar" button_class="btn-success" button_type="link" href=buscar_url %}
      {% bootstrap_button "Libros" button_class="btn-success" button_type="link" href=libros_url %}
      {% bootstrap_button "Editoriales" button_class="btn-success" button_type="link" href=editorial_url %}
    <div>
  <div>
  <h1> Autores </h1>
  <div class="row">
    <div class="col">
        {% if autor %}
        <table class="table">
            <thead>
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">País</th>
                <th scope="col">Fecha Nacimiento</th>
            </thead>
        
            {% for a in autor %}
            <tbody>
                <tr>
                    <th scope="row">{{a.id}} </th>
                    <td> {{a.nombre}} </td>
                    <td> {{a.apellido}} </td>
                    <td> {{a.pais}} </td>
                    <td> {{a.fecha_nacimiento}} </td>
                    {% url 'borrar' identificador=a.id as borrar_url %}
                    <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-danger" button_type="link" href=borrar_url %}</td>
                </tr>  
            </tbody>
            {% endfor %}
        </table>
        {% else %}
            <p>No tienes Autores cargados</p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}